.cava-bars {
  /* JetBrains Mono or Fira Code are best for this */
  font-family: "JetBrainsMono Nerd Font", "monospace";
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
}

.song-title {
  font-size: 14px;
  font-weight: bold;
}

.controls button {
  font-size: 1.5em;
}

.controls button:hover {
  color: #ff4081;
  /* A highlight color */
}
